Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-JWT-Extended
cloudinary
click
greenlet
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
flask-migrate
flask-mysqldb
marshmallow
marshmallow-sqlalchemy
mysql
PyMySQL
Werkzeug 